/* src/styles/modal.css */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(2, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: rgb(0, 24, 48);
  color: #C5C6C7;
  border-radius: 10%;
  padding: 2vh 2vw;
  width: 50vw;
  height: 50vh;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.close-button {
  position: absolute;
  top: 2vh;
  right: 2vw;
  background-color: rgba(102, 252, 241, 0.47);
  color: #C5C6C7;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 16px;
}

.close-button:hover {
  background-color: #66fcf2b1;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.result-message,
.error-message {
  color: #66FCF1;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 30vh;
}

.input-field {
  height: 30%;
  width: 30vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3vh;
}

input {
  background-color: #C5C6C7;
  color: black;
  height: 90%;
  width: 20vw;
  border-radius: 20px;
  text-align: center;
  max-height: 40px;
}

form button {
  margin-top: 4vh;
}

.close-button {
  color: black !important;
}