/* src/styles/modal.css */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 18, 22, 0.72);
  /* Dark background with transparency */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* Make sure the modal is on top */
}

.modal-content {
  background-color: #2c3e50;
  /* Dark background for modal content */
  color: #C5C6C7;
  /* White text */
  border-radius: 8px;
  padding: 2vh 2vw;
  /* Padding with vh and vw for responsiveness */
  width: 50vw;
  /* Set width using vw */
  height: 45vh;
  /* Set height using vh */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow-y: auto;
  /* Allow scrolling if content exceeds height */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.close-button {
  position: absolute;
  top: 2vh;
  /* Adjusted for better spacing */
  right: 2vw;
  /* Adjusted for better spacing */
  background-color: #66FCF1;
  /* Sky blue background for the close button */
  color: #C5C6C7;
  /* White text for the close button */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 16px;
}

.close-button:hover {
  background-color: #66fcf2b1;
  /* Darker blue on hover */
}

h2 {
  text-align: center;
  /* Center the heading */
  margin-bottom: 20px;
}

.result-message,
.error-message {
  color: #66FCF1;
  /* Sky blue color for messages */
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 30vh;
}

.input-field {
  height: 30%;
  width: 30vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3vh;
}

input {
  background-color: #C5C6C7;
  color: black;
  height: 90%;
  width: 20vw;
  border-radius: 20px;
  text-align: center;
  max-height: 40px;
}

form button {
  margin-top: 4vh;
}

.close-button {
  color: black !important;
}